<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>
    
<h2>Login In</h2>

<div id="form">
<form action="/login" method="post">
<div id="center">
<div id="name"><input type="text" name="name" placeholder="Name"></div>

<div id="password"><input type="password" name="password" placeholder="password">
</div>

<div id="submit"><input type="submit">
</div>
</div>
</form>
</div>
<a href="/signup">make a new account</a>
</body>
</html>